:root{
  --dark-purple: #25274d;
--light-purple:  #464866;
--light-pink:  #9b8db8;
--light-blue:  #9999cb;


}
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #fff;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: var(--dark-purple);
}

.navbar-default .navbar-brand {
    color: #fff;
}


.navbar-default .navbar-nav li a {
    color: #fff;
}

a{
    color: #fff;
}

a:hover{
    color: #fff;
}


p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}

.bg-1 {
  color: #fff;
  background-color: var(--light-purple)
  
}
.bg-2 {
  background-color: var(--light-pink); 
  color: #ffffff;
}
.bg-3 {
  background-color: var(--light-blue); 
  color: #fff;
}

.bg-4 {
  background-color: var(--dark-purple); 
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-fluid.bg-4{
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px;
width: 100%;
}
.contact-info ul {
display: flex;
list-style: none;
gap: 5rem;
}
.contact-info{
  margin-right: 30px;
}
.contact-me{
  margin-left: 30px;
}