body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #25274d; /* Black  */
    
  }
   a{
    color: #fff;
  }
  a:hover{
    color: #fff;
  }
 
  .top-nav{
    color: #fff;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  h3 {
      color: #fff; /*bright pink*/
    }
    #h3-2{
        
    }
    .bg-1 { 
      background-color: #464866; /* soft pink */
      color: #ffffff;
    }
    .bg-2 { 
    background-color: #8fa18c; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #686a74; /* White */
    color: #fff;
  }
  
  footer{
    background-color: #25274d;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }